In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

In [2]:
def filterCountry(data):
    lst = ["Estonia","Latvia","Lithuania","Greece","Cyprus",
           "Vietnam","Mexico","Brazil","Algeria","India","Russian Federation",
           "Ukraine","Sri Lanka","Venezuela","Nigeria","Colombia",
           "Haiti","Madagascar","Burundi","Cambodia","Yemen",
           "France","Germany","United Kingdom","United States","Canada","Japan"]
    for i in range(len(data)):
        if data["location"][i] not in lst:
            data.drop(i,axis=0,inplace=True)

---

In [ ]:
 filterCountry(covid)

In [80]:
#covid.to_csv("extraDF.csv",index=False)
covid = pd.read_csv("covid.csv")
covid.set_index(covid["date"])

         iso_code continent location      date  new_cases  new_deaths
date
20-02-25      DZA    Africa  Algeria  20-02-25        1.0         0.0
20-02-26      DZA    Africa  Algeria  20-02-26        0.0         0.0
20-02-27      DZA    Africa  Algeria  20-02-27        0.0         0.0
20-02-28      DZA    Africa  Algeria  20-02-28        0.0         0.0
20-02-29      DZA    Africa  Algeria  20-02-29        0.0         0.0
...           ...       ...      ...       ...        ...         ...
22-05-12      YEM      Asia    Yemen  22-05-12        0.0         0.0
22-05-13      YEM      Asia    Yemen  22-05-13        0.0         0.0
22-05-14      YEM      Asia    Yemen  22-05-14        0.0         0.0
22-05-15      YEM      Asia    Yemen  22-05-15        0.0         0.0
22-05-16      YEM      Asia    Yemen  22-05-16        0.0         0.0

[21311 rows x 6 columns]